---
import "../styles/global.css";
import "@fontsource/permanent-marker";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href="https://bestbuddies.twnsnd.co" />
    <meta
      name="description"
      content="I'm fundraising to support Best Buddies' programs that create opportunities for one-to-one friendships, integrated employment, inclusive living, leadership development, and family support for people with IDD."
    />
    <meta name="og:image" content="https://bestbuddies.twnsnd.co/og.png" />
    <meta
      name="og:title"
      content="Best Buddies Challenge - Cole's Fundraiser"
    />
    <meta
      name="og:description"
      content="I'm fundraising to support Best Buddies' programs that create opportunities for one-to-one friendships, integrated employment, inclusive living, leadership development, and family support for people with IDD."
    />
    <meta name="og:url" content="https://bestbuddies.twnsnd.co" />
    <meta name="og:type" content="website" />
    <meta
      name="og:site_name"
      content="Best Buddies Challenge - Cole's Fundraiser"
    />
    <meta name="og:locale" content="en_US" />
    <meta name="og:image:width" content="1200" />
    <meta name="og:image:height" content="630" />
    <meta
      name="og:image:alt"
      content="Best Buddies Challenge - Cole's Fundraiser"
    />
    <meta name="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>Best Buddies Challenge - Cole's Fundraiser</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
